h3
{
	display:inline-block;
}
.box{
width:100px;
height:100px;
}
.red
{
background-color: red;
padding:10px;
border: 10px solid green;
margin: 100px;
}
.green
{
background-color: green;
margin: 100px 50px 30px 10px;
}